.author{
    padding: 10px;
    box-sizing: border-box;
}
.author img{
    width: 100px;
    height: 100px;
    margin:auto;
    border-radius: 50%;
}
.author p{margin-bottom: 0}
.other-website{text-align: center;color: #0e77ca;}
.other-website a{padding: 0 8px;font-size: 24px;}