.article-body{
    background: #f9f9f9;
    padding: 16px;
    box-shadow: 0 0 13px #ccc;
    margin-bottom: 10px;
}
.article-body>a{
    font-weight: bold;
    font-size: 18px;
}
.article-body>a:hover h4{
    color: #0e77ca;
}